#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.socialicons{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724; 
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24; 
}

Form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.btn{
  background-color: #2c8854;
  color: white;
  height: 3rem; 
  cursor: pointer;
  outline: none; 
  height: 3rem;
  width: 8rem;
  margin-left: 12rem;
}

.alert{
  margin-top: 1rem;
  border: solid 1px #2d1d1f ;
  margin-left: 12rem;
  width: 8rem;
}

main{
  background-color: white;
  border: solid 1px black;
  height: 35rem;
  width: 32rem;
  border-radius: 30px;
}

body{
  background: rgb(253,251,211);
  background: linear-gradient(0deg, rgba(253,251,211,1) 17%, rgba(181,246,141,1) 86%);
}